.webelartGallery{
    user-select: none;
    &Container{
        margin-bottom: 5px;
    }

    &Navigation {
        position: absolute;
        z-index: 3;
        bottom: 10px;
        left: 50%;
        transform: translate(-50%, 0);
    }

    &PreviewList{
        margin: 0 auto;
    }
}